.ProductList-Title {
    margin: 30px 0 20px 0;
    text-align: center;
}

.ProductList-Title-Font {
    font-size: 40px;   
}

.ProductList-Cart-Container {
    position: relative;
}

.ProductList-Cart {    
    position: absolute;
    right: 220px;
}

.ProductList-Container {
    margin: 70px 200px 0 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
